<div class="form">
&nbsp;Name: <%= @bottle.name %>
<br>
&nbsp;Grape: <%= @bottle.grape %>
<br>
&nbsp;Style: <%= @bottle.style %>
<br>
&nbsp;Vintage: <%= @bottle.vintage %>
<br>
&nbsp;Price: <%= @bottle.price %>
<% if @bottle.user == current_user %>
<form action="/bottles/<%= @bottle.id %>/delete" method="POST">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Bottle">
</form>
<form method="POST" action="/bottles/<%= @bottle.id %>">
  <input type="hidden" id="hidden" name="_method" value="PATCH">
  <br>
  Name:<input type="text" name="bottle[name]" value="<%= @bottle.name %>">
  <br>
  Grape:<input type="text" name="bottle[grape]" value="<%= @bottle.grape %>">
  <br>
  Style:<input type="text" name="bottle[style]" value="<%= @bottle.style %>">
  <br>
  Vintage: <input type="text" name="bottle[vintage]" value="<%= @bottle.vintage %>">
  <br>
  Price: <input type="text" name="bottle[price]" value="<%= @bottle.price %>">
  <br>
  <input type="submit" value="Edit Bottle">
</form>
<% else %>
<br>
<strong>Only <%= User.find(@bottle.user_id).username%> has permission to edit this bottle.</strong>
<% end %>
</div>

