Name: <%= @bottle.name %>
<br>
Grape: <%= @bottle.grape %>
<br>
Style: <%= @bottle.style %>
<br>
Vintage: <%= @bottle.vintage %>
<br>
Price: <%= @bottle.price %>
<br><br>
<a href="/">Home</a> |
<a href="/logout">Logout</a> |
<% if @bottle.user == current_user %>
<a href="/users/collection">My collection</a> |
<br><br>
<a href="/bottles/new">Add Bottle To Collection</a> |
<a href="/bottles/<%= @bottle.id %>/edit">Edit Bottle</a> |
<br><br><br><br>
<form action="/bottles/<%= @bottle.id %>/delete" method="POST">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Bottle">
</form>
<% end %>

