<h1>Currently in user's show view.</h1>
<p><%= @user.username %>'s collection count <%= @user.bottles.count %></p>
<ul>
  <li></li>
</ul>
<% @bottles.each do |bottle| %>
Type: <a href="/bottles/<%= bottle.id %> "><%= bottle.wine_type %></a>
<br><br>
<% end %>
<% if @user == current_user %>
<a href="/">Home</a> |
<a href="/logout">Logout</a>
<br><br>
<a href="/bottles/new">Add Bottle To Collection</a> |
<br><br><br><br>
<form action="/users/<%=@user.id%>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <button type ="submit" onclick="myFunction()">DELETE ACCOUNT</button>
<script>
function myFunction() {
  alert("Account being deleted!!!");
}
</script>
</form>
<% end %>
