<% if !current_user.bottles.empty? %>
<h1>Your Collection</h1>
Oldest Bottle - <%= current_user.bottles.first.name %>
<br>
Newest Bottle - <%= @current_user.bottles.last.name %>
<br><br>
<% @sorted_bottles.each do |bottle| %>
<a href="/bottles/<%= bottle.id %>"><%= bottle.name %></a>
<% end %>
<% end %>

<h1>You have currently have <%= current_user.bottles.count %> bottles.</h1>
